
VITE_SUPABASE_URL=https://gypmlnuludnwxruhaxxp.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd5cG1sbnVsdWRud3hydWhheHhwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjAyNTg4MzcsImV4cCI6MjA3NTgzNDgzN30.hhCt4BCXCxfXC3KrFvQGc35NFeIbTuL8UoHisgQHftI